<div class="container-fluid px-4">
    <h1 class="mt-4"><%= title ;%></h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Tables</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            DataTables is a third party plugin that is used to generate the demo table below. For more
            information about DataTables, please visit the
            <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
            .
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Example
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Regi date</th>
                    <th>Modify</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>No.</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Regi date</th>
                    <th>Modify</th>
                </tr>
                </tfoot>
                <tbody>
                <% data.members.forEach((member) => { %>
                    <tr>
                        <td><%= member.mem_id %></td>
                        <td><%= member.mem_userid %></td>
                        <td><%= member.mem_username %></td>
                        <td><%= member.mem_email %></td>
                        <td><%= member.mem_register_datetime %></td>
                        <td>
                            <button onclick="location.href='/admin/member/<%= member.mem_id %>'">edit</button>
                            <button onclick="list_deleteOne('/member/delete', '<%= member.mem_id %>')">del</button>
                        </td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>

