<div class="container mt-5">
    <h2><%= title ;%></h2>
    <form action="/admin/layout/sitemap/write/<%= data.menu.men_parent ;%>" method="POST" onsubmit="return saveContent();">
        <input type="hidden" name="men_id" value="<%= data.menu.men_id ;%>" />
        <table class="table">
            <tbody>
            <tr>
                <td><label for="postCategory" class="form-label">종류</label></td>
                <td>
                    <select class="form-select" id="men_type" name="men_type" required>
                        <option value="" disabled selected>종류를 선택하세요</option>
                        <option value="page" <%= data.menu.men_type == 'page' ? 'selected' : '' ;%>>페이지</option>
                        <option value="board" <%= data.menu.men_type == 'board' ? 'selected' : '' ;%>>게시판</option>
                        <option value="link" <%= data.menu.men_type == 'link' ? 'selected' : '' ;%>>링크</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="men_code" class="form-label">메뉴코드(주소)</label></td>
                <td>
                    <input type="text" class="form-control" id="men_code" name="men_code"
                           placeholder="코드르 입력하세요"
                           value="<%= data.menu.men_code ;%>"
                           required>
                </td>
            </tr>
            <tr>
                <td><label for="men_title" class="form-label">메뉴명</label></td>
                <td>
                    <input type="text" class="form-control" id="men_title" name="men_title"
                           placeholder="메뉴명을 입력하세요"
                           value="<%= data.menu.men_title ;%>"
                           required>
                </td>
            </tr>
            <tr id="page_content">
                <td><label for="page_content" class="form-label">페이지 내용</label></td>
                <td>
                    <div id="summernote"><%- data.menu.page_content; %></div>
                    <input type="hidden" id="summernote_content" name="page_content" />

                </td>
            </tr>
            <tr id="link_address">
                <td><label for="men_link" class="form-label">링크(연결할 주소)</label></td>
                <td>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="men_link_window_open"
                                   name="men_link_window_open"
                                   value="1" <%= data.menu.men_link_window_open == 1 ? 'checked' : '' ;%>>
                            <label class="form-check-label" for="men_link_window_open">새창 열기</label>
                        </div>
                        <div class="mt-2">
                            <input type="text" class="form-control" id="men_link" name="men_link"
                                   placeholder="링크를 입력하세요" value="<%= data.menu.men_link ;%>">
                        </div>
                    </div>
                </td>
            </tr>
            <tr id="board_skin">
                <td><label for="postCategory" class="form-label">스킨</label></td>
                <td>
                    <select class="form-select" id="brd_skin" name="brd_skin">
                        <option value="" disabled selected>스킨을 선택하세요</option>
                        <option value="bulletin" <%= data.menu.brd_skin == 'bulletin' ? 'selected' : '' ;%>>bulletin</option>
                        <option value="faq" <%= data.menu.brd_skin == 'faq' ? 'selected' : '' ;%>>faq</option>
                        <option value="gallery" <%= data.menu.brd_skin == 'gallery' ? 'selected' : '' ;%>>gallery</option>
                    </select>
                </td>
            </tr>
            <tr id="board_category">
                <td>
                    <label for="boardCategory" class="form-label">카테고리(TODO:)</label>
                </td>
                <td>
                    <!-- Button Group -->
                    <div class="mb-2">
                        <button type="button" class="btn btn-primary btn-sm">추가</button>
                        <button type="button" class="btn btn-danger btn-sm">삭제</button>
                    </div>

                    <!-- Table -->
                    <table class="table table-bordered table-striped">
                        <thead class="table-dark">
                        <tr>
                            <th>
                                <input type="checkbox" id="chkAll">
                            </th>
                            <th>카테고리명</th>
                            <th>정렬</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Example row -->
                        <tr>
                            <td>
                                <input type="checkbox" class="form-check-input">
                            </td>
                            <td>Example Category</td>
                            <td>1</td>
                        </tr>
                        <!-- Add dynamic rows here -->
                        </tbody>
                    </table>
                </td>
            </tr>
            </tr>

            <tr>
                <td colspan="2" class="text-end">
                    <button id="preview_button" type="button" class="btn btn-secondary">미리보기</button>
                    <button type="submit" class="btn btn-primary">작성하기</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<script src="/admin/js/memWrite.js"></script>
